<h1>The Bids You've Recieved</h1>
{{#unless bids}}
<h3>You've received no bids for this job yet.</h2>
{{/unless}}

<table>
	<thead>
		<tr>
	    <th>Job ID</th>
      <th>Bid ID</th>
      <th>Vendor ID</th>
      <th>Price</th>
      <th>Comments</th>
      <th>Completion Estimation Date</th>
		</tr>
	</thead>
	<tbody>
		{{#each bids}}
			<tr>
				<td>{{jobId}}</td>
				<td>{{bidId}}</td>
				<td>{{vendorId}}</td>
				<td>{{price}}</td>
        			<td>{{comments}}</td>
				<td>{{printDate completionEst}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>
